body {
    margin: 0;
    font-family: 'Poiret One', cursive;
    background-color: #002E33;
    font-size: 20px;
  }
  
  header {
    background: #002E33;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border: 0px #075c19 solid;
    text-shadow: rgb(255, 255, 255) 3px 0 10px;
    position: sticky;
    top: 0;
    z-index: 10; 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 3%;
   
  }

  .toggle-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  
  .navi-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navi-links a:hover {
    color: #14FDCE;
  
  }
  
  
  .navi-links li {
    margin: 0 15px;
  }
  
  .navi-links a {
    color: #fff;
    text-decoration: none;
  
  }
  
  .hero {
  
    background-color: #02171a;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 20px; 
  }
  
  .lines {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }
  
  .line {
    position: relative;
    width: 8px;
    height: 75%;
    margin-top: 4%;
    background: linear-gradient(-45deg, #036772, #ff3fe5, #f7c483, #6f52ee, #1e586d);
    animation: move 2s ease-in-out infinite alternate;
    box-shadow: 0 0 40px 10px rgba(0, 174, 255, 0.7);
    border-radius: 50%;
  
  }
  
  @keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
    }
  }
  
  .hero-content {
    margin-top: 8%;
    background-color: rgba(32, 49, 53, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    opacity: 0; 
    transition: opacity 0.9s ease-in-out; 
    box-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #541dac, 0 0 40px #077c69, 0 0 50px #00e68e, 0 0 60px #00e6c7;
    border: 1px #2eaacf solid;
  }
  
  .hero-content.show {
    opacity: 1; 
  }
  
  .hero h1 {
    font-size: 36px; 
    margin-bottom: 10px;
    color: #14FDCE;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #14FDCE;
    
  }
  
  .btn {
    background-color: rgba(7, 37, 51, 0.9);
    color: #14FDCE;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    border: 1px #2bd8d8 solid;
    
  }
  
  .btn:hover{
    box-shadow: 0 0 20px rgba(85, 39, 212, 0.5), 0 0 40px rgba(199, 20, 253, 0.3), 0 0 60px rgba(253, 20, 183, 0.2);
  background-color: #14FDCE;
  color: #002E33;
  
  }
  
  .hero-images {
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
  }
  
  .hero-img {
    width: 200px;
    height: 300px;
    border-radius: 5%;
    opacity: 0; 
    transition: opacity 1.0s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px rgba(197, 129, 218, 0.3), 0 0 60px rgba(235, 196, 223, 0.2); 
    border: 1px #000000 solid;
    background-color: #02171a;
  
  }
  
  .hero-img.show {
    opacity: 0.8; 
  }
  .hero-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #541dac, 0 0 40px #077c69, 0 0 50px #00e68e, 0 0 60px #00e6c7;
    opacity: 1;
  }
  
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  .about {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #002E33;
    text-align: center; 
    padding-right: 25%;
    padding-left: 25%;
    color: #ece8e8;
  }
  
  
  .about.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about::before,
  .about::after {
    content: ""; 
    display: inline-block; 
    width: 50%; 
    height: 1px; 
    background-color: #14FDCE; 
    
  }
  
  .services {
    background-color: #1c584c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 30px;
    padding: 50px 20px;
    text-align: center;
  }
  
  .service-item {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding-left: 2%;
    padding-right: 2%;
    color: #5efcef;
    font-size: 20px;
    flex: 1;
    
  }
  
  .service-item.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .service-item:nth-child(2) {
    transition-delay: 0.3s; /* Viive keskimmäisen osion näyttämisessä */
  }
  
  .service-item:nth-child(3) {
    transition-delay: 0.6s; /* Viive oikean osion näyttämisessä */
  }
  
  footer {
    background-color: #002E33;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    height: 400px;
  }

/*kuvien animaatio*/

  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px); /* Liikuta elementtiä 50 pikseliä vasemmalle alussa */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Palauta alkuperäiseen sijaintiin */
    }
  }
  
  .hero-content, .hero-images {
    animation: fadeInFromLeft 1s ease-out forwards; 
  }
  
  /*ScrollBar*/
  
  
  ::-webkit-scrollbar {
    width: 11px;
    background-color: #02171a;
   
  }
  
  ::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    background-color: #02171a;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    width: 1px;
    border: 1px solid rgba(9, 88, 102, 10);
    background-color: #18beb6;
    border: #ffe6fe 1px solid;
    border-radius: 10px;
  }


  @media (max-width: 768px) {
    .navi-links {
        flex-direction: column;
        display: none;
        width: 100%;
        text-align: center;
    }

    .navi-links li {
        margin: 10px 0;
    }

    .toggle-btn {
        display: block;
    }

    .logo{
        display: none;
    }

    .lines{
        display: none;
    }

    .hero {
        background-image: linear-gradient(-45deg, #000000, #4d0c44, #83f7f7, #ee52a8, #01131a);
        animation: gradientAnimation 15s ease infinite;
        height: 350px;
      }
      
    .hero-images {
        display: none;

  }

   .service-item {
       flex-basis: 100%;
       margin: 10px 0;
  }

  .hero-content{
       max-width: 95%;
  }

  .about {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #002E33;
    text-align: center; 
    padding-right: 5%;
    padding-left: 5%;
    color: #ece8e8;
  }  
  
}

.nayta {
     display: flex !important;
}
